[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cleanNLP"]
	path = cleanNLP
	url = https://github.com/taylor-arnold/rpkg
	subdir = cleanNLP
[submodule "coreNLP"]
	path = coreNLP
	url = https://github.com/cran/coreNLP
[submodule "ctrialsgov"]
	path = ctrialsgov
	url = https://github.com/cran/ctrialsgov
[submodule "leaderCluster"]
	path = leaderCluster
	url = https://github.com/taylor-arnold/leadercluster
